@model Apps.Models.DEF.DEF_TestCaseModel
@using System.Globalization;
@using Apps.Models.Sys;
@using Apps.Common;
@using Apps.Web.Core;
@using Apps.Locale;
@{
    ViewBag.Title = "测试用例";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
   
}

<table class="wid100f">
    <tr>
        <td style="vertical-align: top">

            <table>
                <tr>
                    <td style="height: 30px;">分类选择：<input class="easyui-combotree" id="caseTypeTree" style="width: 150px;">
                    </td>
                    <td>
                        <div class="mvctool">
                            <input id="txtQuery" style="margin-top: 4px; width: 100px;" type="text" class="searchText" />
                            @*操作*@
                            @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query,ref perm, "Query", true)
                             @Html.ToolButton("btnCreate", "fa fa-plus", Resource.Create,ref perm, "Create", true)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table id="caseList">
                        </table>
                    </td>
                </tr>

            </table>

        </td>
    </tr>
</table>
<div id='popwin'>
</div>
<div id="modalwindow">
</div>
<!--测试用例-->
<script type="text/javascript">
    //新增后执行
    function CallTestCaseCreate() {
        $("#btnRefresh").trigger("click");
    }
    //编辑后执行
    function ReturnEdit() {
        jQuery("#List").trigger("reload");
    }
    //新增关闭
    function ReturnCloseDialog() {
        $("#modalwindow").dialog('close');
    }
    $(function () {
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            if (queryStr == null) {
                queryStr = "%";
            }
            var comTreeVal = $('#caseTypeTree').combotree('getValue');
            $("#caseList").datagrid("load", { queryStr: encodeURI(queryStr), moduleId: comTreeVal });

        });

     
        //新增
        $("#btnCreate").click(function () {
            var codeIds = [];
            var rows = $('#caseList').datagrid('getSelections');
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                codeIds.push(row.Code);
            }
            var codesArr = codeIds.join(',');
            $.post("/Def/TestJobsDetailItem/AddTestCase", { "vercode": "@ViewBag.vercode", "code": codesArr },
                    function (data) {
                        $.messageBox5s('@Resource.Tip', data.message);
                        window.parent.ReloadList("@ViewBag.vercode"); //relaod
                    }, "json");
        });

 
        //返回列表
        $("#btnReturn").click(function () {
            //window.close();
            var temps = "0";
            returnParent(temps);
        });
        //查询
        $("#btnSearch").click(function () {
            var queryStr = $("#txtQuery").val();
            //如果查询条件为空默认查询全部
            if (queryStr == null) {
                queryStr = "%";
            }

            //提交查询
            queryStr = encodeURI(queryStr);
            $("#List").datagrid('load', '/Def/TestCase/GetList?querystr=' + queryStr);

        });

        //分类combotree
        $('#caseTypeTree').combotree({
            url: '/DEF/caseType/GetListByComTree'
            , onSelect: function (node) {
                $("#caseList").datagrid({ url: '/Def/TestCase/GetList?moduleId=' + node.id });
            }, onLoadSuccess: function (node, data) { //加载成功选择第一行
                $('#caseTypeTree').combotree("setValue", "_all");
            }


        });
        //用例分例表格
        var runtime = 0;


        $('#caseList').datagrid({
            url: '@Url.Action("GetList")',
            width: 456,
            methord: 'post',
            height: 326,
            fitColumns: true,
            sortName: 'Sort',
            sortOrder: 'asc',
            idField: 'Code',
            pageSize: 10,
            pageList: [10, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            //rownumbers: true,//行号
            columns: [[
               { field: 'Code', title: '代码', checkbox: 'true', width: 80, sortable: true },
               { field: 'Name', title: '@Resource.TitleName', width: 80, sortable: true },
               { field: 'Description', title: '@Resource.TitleRemark', width: 80, sortable: true, hidden: true },
               { field: 'ModuleId', title: '所属', width: 80, sortable: true, hidden: true },
               { field: 'Sort', title: '@Resource.TitleSort', width: 80, sortable: true }
            ]]
        });

    });
</script>
