@using Apps.Common;
@using Apps.Web.Core;
@using Apps.Locale;
@{
    ViewBag.Title = "角色授权设置";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<Apps.Models.Sys.permModel> perm = null;
}
<div class="mvctool">
    <div style="float:left">
        菜单类型切换： <select class="easyui-combobox" name="swicthType" id="swicthType" style="width:80px;height:26px;margin-right:10px; ">
            <option value="menu">系统菜单</option>
            <option value="api">Api接口</option>
        </select>
    </div>
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save,ref perm, "Save", true)
</div>
<table style="width: 100%">
    <tbody>
        <tr>
            <td style="width: 420px; vertical-align: top">
                <table id="roleList"></table>
            </td>
            <td style="width:3px;"></td>
            <td style="width: 200px; vertical-align: top">
                <table id="moduleList"></table>
            </td>
            <td style="width:3px;"></td>
            <td style="vertical-align: top">
                <table id="operateList"></table>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">


    $('#swicthType').combobox({
        editable: false,
        onSelect: function (record) {
            if (record.value == "api") {
                $('#moduleList').treegrid({ "url": '@Url.Action("GetModelList")?id=ApiInterfaceAuth' });
               
            } else {
                $('#moduleList').treegrid({ "url": '@Url.Action("GetModelList")?id=0' });
                
            }

        }
    });

    $(function () {
        var curModuleId, curRoleId, curModuleName, curRoleName, curSystemId, curSystemName;//选择的模块ID,选中的角色ID，选中的模块名称，角色名称
        curRoleName = "?";
        curModuleName = "?";
        $('#roleList').datagrid({
            url: '@Url.Action("GetRoleList")',
            width: 420,
            methord: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            showPageList: false,
            showRefresh: false,
            displayMsg: '',
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: true,//行号
            title: '角色列表',
            onLoadSuccess: function (data) {
                $('#operateList').datagrid('loadData', { total: 0, rows: [] });
            },
            columns: [[
                { field: 'Id', title: '', width: 80, hidden: true },
                { field: 'Name', title: '角色组', width: 80, sortable: true },
                { field: 'Description', title: '@Resource.TitleRemark', width: 80, sortable: true },
                { field: 'CreateTime', title: '@Resource.TitleCreateTime', width: 80, sortable: true },
                { field: 'CreatePerson', title: '', width: 80, sortable: true, hidden: true }
            ]],
            onClickRow: function (index, data) {
                var row = $('#roleList').datagrid('getSelected');
                if (row != null) {
                    curRoleName = row.Name;
                    curRoleId = row.Id;
                    $('#operateList').datagrid({ url: "/SysRight/GetRightByRoleAndModule?roleId=" + curRoleId + "&moduleId=" + curModuleId + "" });
                    $('#operateList').datagrid({ 'title': "角色组: " + curRoleName + " >> 模块：" + curModuleName });
                }
            }
        }).datagrid('getPager').pagination({ showPageList: false, showRefresh: false });
        $('#moduleList').treegrid({
            url: '@Url.Action("GetModelList")',
            width: 300,
            methord: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            treeField: 'Name',
            idField: 'Id',
            pagination: false,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            title: '模块列表',
            columns: [[
                { field: 'Id', title: '唯一标识', width: 120, hidden: true },
                { field: 'Name', title: '@Resource.TitleName', width: 220, sortable: false },
                { field: 'EnglishName', title: '英文名称', width: 80, sortable: false, hidden: true },
                { field: 'ParentId', title: '上级Id', width: 80, sortable: false, hidden: true },
                { field: 'Url', title: '链接地址', width: 80, sortable: false, hidden: true },
                { field: 'Iconic', title: '图标', width: 80, sortable: false, hidden: true },
                { field: 'Sort', title: '排序号', width: 80, sortable: false, hidden: true },
                { field: 'Remark', title: '@Resource.TitleRemark', width: 80, sortable: false, hidden: true },
                {
                    field: 'Enable', title: '@Resource.TitleEnable', width: 60, align: 'center', formatter: function (value) {
                        if (value) {
                            return "<span class='color-green fa fa-circle'></span>";
                        } else {
                            return "<span class='color-blue fa fa-circle'></span>";
                        }
                    }, hidden: true
                },
                { field: 'CreatePerson', title: '@Resource.TitleCreatePerson', width: 80, sortable: true, hidden: true },
                { field: 'CreateTime', title: '@Resource.TitleCreateTime', width: 120, sortable: true, hidden: true },
                {
                    field: 'IsLast', title: '是否最后一项', align: 'center', width: 100, formatter: function (value) {
                        if (value) {
                            return "是";
                        } else {
                            return "否";
                        }
                    }, hidden: true
                },
            ]],
            onClickRow: function (index, data) {
                var row = $('#moduleList').treegrid('getSelected');
                if (row != null) {
                    curModuleName = row.Name;
                    curModuleId = row.Id;
                    if (curRoleId == null && row.IsLast) {
                        $.messageBox5s('@Resource.Tip', "请再选择一个角色！");
                        return;
                    }
                    $('#operateList').datagrid({ url: "/SysRight/GetRightByRoleAndModule?roleId=" + curRoleId + "&moduleId=" + curModuleId + "" });
                    $('#operateList').datagrid({ 'title': "角色组: " + curRoleName + " >> 模块：" + (row.IsLast ? curModuleName : "[请再选择最后菜单项]") });
                }

            }
        });
        $('#operateList').datagrid({
            url: '@Url.Action("GetRightByRoleAndModule")',
            width: 300,
            methord: 'post',
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            title: '授权操作',
            //rownumbers: true,//行号
            columns: [[
                { field: 'Ids', title: 'Ids', width: 80, hidden: true },
                { field: 'Name', title: '@Resource.TitleName', width: 80, sortable: true },
                { field: 'KeyCode', title: '操作码', width: 80, sortable: true },
                {
                    field: 'IsValid', title: "<a href='#' title='@Resource.Select' class=\"fa  fa-check-square-o color-green\"  onclick=\"SelAll();\"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#' title='@Resource.UnSelect' class=\"fa  fa-square-o color-gray\" onclick=\"UnSelAll();\"  ></a>", align: 'center', width: 30, formatter: function (value) {
                        if (value) {
                            return "<input type='checkbox' checked='checked' value=" + value + " />";
                        } else {
                            return "<input type='checkbox' value=" + value + " />";
                        }
                    },
                },
                  { field: 'RightId', title: '模块ID', width: 80, sortable: true, hidden: true }
            ]]
        });
        $("#btnSave").click(function () {
            var updateRows = 0;
            var rows = $("#operateList").datagrid("getRows"); //这段代码是获取当前页的所有行。

            for (var i = 0; i < rows.length; i++) {
                var setFlag = $("td[field='IsValid'] input").eq(i).prop("checked");
                var ids = rows[i].Ids;
                var rightId = rows[i].RightId;
                var keyCode = rows[i].KeyCode;
                var isValid = rows[i].IsValid;
                if (isValid != setFlag)//判断是否有作修改
                {
                    $.ajax({
                        url: '@Url.Action("UpdateRight")',
                        async: false, // 注意此处需要同步，因为返回完数据后，下面才能让结果的第一条selected
                        type: "POST",
                        data: { "Id": ids, "RightId": rightId, "KeyCode": keyCode, "IsValid": setFlag },
                        dataType: "json",
                        success: function (fields) {

                        }
                    });
                    updateRows++;
                }
            }
            if (updateRows > 0) {
                $("#operateList").datagrid("reload");
                $.messageBox5s('@Resource.Tip', '保存成功！');
            } else {
                $.messageBox5s('@Resource.Tip', '@Resource.NoAnyChanges！');
            }
           
        });
        $(window).resize(function () {
            resizeLayout();
        });
        resizeLayout();
    });

    function resizeLayout() {
        setTimeout(function () {
            $('#operateList').datagrid('resize', {

            }).datagrid('resize', {
                width: SetGridWidthSub(746),
                height: SetGridHeightSub(45)
            });
            $('#moduleList,#roleList').datagrid('resize', {
                height: SetGridHeightSub(45)
            });
        }, 100);
    }

    function SelAll() {
        $("td[field='IsValid'] input").prop("checked", true);
        $("#btnSave").trigger("click");
        return;
    }
    function UnSelAll() {
        $("td[field='IsValid'] input").prop("checked", false);
        $("#btnSave").trigger("click");
        return;
    }

</script>

